{% extends 'AppBundle:musicstore:base.html.twig' %}

{% block body %}
    <!-- Header -->
    <div class="header">
        Lorem ipsum dolor ist amet
    </div>
    <!-- End Header -->
    
    <!-- Navigation -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="main-menu">
                    <li><a href="#page-welcome">Amplificacion</a></li>
                    <li><a href="#page-profile">Bajos</a></li>
                    <li><a href="#page-skills">Baterias</a></li>
                    <li><a href="#page-experience">Efectos</a></li>
                    <li><a href="#page-contact">Guitarras</a></li>
                    <li><a href="#page-contact">Percusion</a></li>
                    <li><a href="#page-contact">Pianos / Teclados</a></li>
                    <li><a href="#page-contact">Sonido</a></li>
                    <li><a href="#page-contact">Varios</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Navigation -->
    
    <!-- First fixed background -->
    <div class="cd-fixed-bg cd-bg-1"></div>
    <!-- Enf First fixed background -->
    
        
        
        <!-- INICIO -->
        <section id="bestsellers">
            <div class="container">
                <div class="iconic-nav-bar">
                    <div class="icon-holder">
                        <i class="fa fa-dollar"></i>
                        <span class="triangle"></span>
                    </div>
                    <div class="bar">
                        <h2>Highlight <span class="bold">products</span></h2>


                    </div>

                </div>

                <div class="products-holder simple-grid">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <div class="product-item">
                            <div class="head">
                                <div class="le-ribbon blue right"><span>new!</span></div> 
                                <div class="thumb">
                                    <img src="images/products/product01.png" alt="">
                                </div>

                                <div class="price">
                                    <div class="price-old">
                                        <span class="currency">$</span>250
                                    </div>
                                    <div class="price-current">
                                        <span class="currency">$</span>145
                                    </div>
                                </div>
                                <div class="star-holder">
                                    <div data-score="3" class="star" style="cursor: pointer; width: 80px;"><img src="images/star-on.png" alt="1" title="bad"><img src="images/star-on.png" alt="2" title="poor"><img src="images/star-on.png" alt="3" title="regular"><img src="images/star-off.png" alt="4" title="good"><img src="images/star-off.png" alt="5" title="gorgeous"><input type="hidden" name="score" value="3"></div>
                                </div>
                                <button class="btn-compare  btn-iconic"></button>
                            </div>
                            <div class="body">
                                <h3><a href="single-product.html">consectetur adipiscing elit</a></h3>
                                <div class="excerpt">
                                    Looking lorem round, to ascertain that they...
                                </div>

                                <div class="merged-buttons">
                                    <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                    <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <div class="product-item">
                            <div class="head">

                                <div class="thumb">
                                    <img src="images/products/product02.png" alt="">
                                </div>

                                <div class="price">
                                    <div class="price-old">
                                        <span class="currency">$</span>350
                                    </div>
                                    <div class="price-current">
                                        <span class="currency">$</span>245
                                    </div>
                                </div>
                                <div class="star-holder">
                                    <div data-score="4" class="star" style="cursor: pointer; width: 80px;"><img src="images/star-on.png" alt="1" title="bad"><img src="images/star-on.png" alt="2" title="poor"><img src="images/star-on.png" alt="3" title="regular"><img src="images/star-on.png" alt="4" title="good"><img src="images/star-off.png" alt="5" title="gorgeous"><input type="hidden" name="score" value="4"></div>
                                </div>
                                <button class="btn-compare  btn-iconic"></button>
                            </div>
                            <div class="body">
                                <h3><a href="single-product.html">Man sport Hiking shoe</a></h3>
                                <div class="excerpt">
                                    Looking lorem round, to ascertain that they...
                                </div>

                                <div class="merged-buttons">
                                    <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                    <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <div class="product-item">
                            <div class="head">
                                <div class="le-badge orange"><span>50% off</span></div> 

                                <div class="thumb">
                                    <img src="images/products/product03.png" alt="">
                                </div>

                                <div class="price">
                                    <div class="price-old">
                                        <span class="currency">$</span>450
                                    </div>
                                    <div class="price-current">
                                        <span class="currency">$</span>245
                                    </div>
                                </div>
                                <div class="star-holder">
                                    <div data-score="4" class="star" style="cursor: pointer; width: 80px;"><img src="images/star-on.png" alt="1" title="bad"><img src="images/star-on.png" alt="2" title="poor"><img src="images/star-on.png" alt="3" title="regular"><img src="images/star-on.png" alt="4" title="good"><img src="images/star-off.png" alt="5" title="gorgeous"><input type="hidden" name="score" value="4"></div>
                                </div>
                                <button class="btn-compare  btn-iconic"></button>
                            </div>
                            <div class="body">
                                <h3><a href="single-product.html">Woman highheel shoe</a></h3>
                                <div class="excerpt">
                                    Looking lorem round, to ascertain that they...
                                </div>

                                <div class="merged-buttons">
                                    <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                    <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <div class="product-item">
                            <div class="head">

                                <div class="le-badge green"><span>new</span></div> 
                                <div class="thumb">
                                    <img src="images/products/product04.png" alt="">
                                </div>

                                <div class="price">
                                    <div class="price-old">
                                        <span class="currency">$</span>120
                                    </div>
                                    <div class="price-current">
                                        <span class="currency">$</span>95
                                    </div>
                                </div>
                                <div class="star-holder">
                                    <div data-score="2" class="star" style="cursor: pointer; width: 80px;"><img src="images/star-on.png" alt="1" title="bad"><img src="images/star-on.png" alt="2" title="poor"><img src="images/star-off.png" alt="3" title="regular"><img src="images/star-off.png" alt="4" title="good"><img src="images/star-off.png" alt="5" title="gorgeous"><input type="hidden" name="score" value="2"></div>
                                </div>
                                <button class="btn-compare  btn-iconic"></button>
                            </div>
                            <div class="body">
                                <h3><a href="single-product.html">colorful cool runnig shoes</a></h3>
                                <div class="excerpt">
                                    Looking lorem round, to ascertain that they...
                                </div>

                                <div class="merged-buttons">
                                    <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                    <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <div class="product-item">
                            <div class="head">

                                <div class="thumb">
                                    <img src="images/products/product03.png" alt="">
                                </div>

                                <div class="price">
                                    <div class="price-old">
                                        <span class="currency">$</span>450
                                    </div>
                                    <div class="price-current">
                                        <span class="currency">$</span>245
                                    </div>
                                </div>
                                <div class="star-holder">
                                    <div data-score="4" class="star" style="cursor: pointer; width: 80px;"><img src="images/star-on.png" alt="1" title="bad"><img src="images/star-on.png" alt="2" title="poor"><img src="images/star-on.png" alt="3" title="regular"><img src="images/star-on.png" alt="4" title="good"><img src="images/star-off.png" alt="5" title="gorgeous"><input type="hidden" name="score" value="4"></div>
                                </div>
                                <button class="btn-compare  btn-iconic"></button>
                            </div>
                            <div class="body">
                                <h3><a href="single-product.html">Woman highheel shoe</a></h3>
                                <div class="excerpt">
                                    Looking lorem round, to ascertain that they...
                                </div>

                                <div class="merged-buttons">
                                    <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                    <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <div class="product-item">
                            <div class="head">

                                <div class="thumb">
                                    <img src="images/products/product02.png" alt="">
                                </div>

                                <div class="price">

                                    <div class="price-current">
                                        <span class="currency">$</span>245
                                    </div>
                                </div>
                                <div class="star-holder">
                                    <div data-score="4" class="star" style="cursor: pointer; width: 80px;"><img src="images/star-on.png" alt="1" title="bad"><img src="images/star-on.png" alt="2" title="poor"><img src="images/star-on.png" alt="3" title="regular"><img src="images/star-on.png" alt="4" title="good"><img src="images/star-off.png" alt="5" title="gorgeous"><input type="hidden" name="score" value="4"></div>
                                </div>
                                <button class="btn-compare  btn-iconic"></button>
                            </div>
                            <div class="body">
                                <h3><a href="single-product.html">Man sport Hiking shoe</a></h3>
                                <div class="excerpt">
                                    Looking lorem round, to ascertain that they...
                                </div>

                                <div class="merged-buttons">
                                    <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                    <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <div class="product-item">
                            <div class="head">

                                <div class="thumb">
                                    <img src="images/products/product04.png" alt="">
                                </div>

                                <div class="price">

                                    <div class="price-current">
                                        <span class="currency">$</span>95
                                    </div>
                                </div>
                                <div class="star-holder">
                                    <div data-score="2" class="star" style="cursor: pointer; width: 80px;"><img src="images/star-on.png" alt="1" title="bad"><img src="images/star-on.png" alt="2" title="poor"><img src="images/star-off.png" alt="3" title="regular"><img src="images/star-off.png" alt="4" title="good"><img src="images/star-off.png" alt="5" title="gorgeous"><input type="hidden" name="score" value="2"></div>
                                </div>
                                <button class="btn-compare  btn-iconic"></button>
                            </div>
                            <div class="body">
                                <h3><a href="single-product.html">colorful cool runnig shoes</a></h3>
                                <div class="excerpt">
                                    Looking lorem round, to ascertain that they...
                                </div>

                                <div class="merged-buttons">
                                    <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                    <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <div class="product-item">
                            <div class="head">

                                <div class="thumb">
                                    <img src="images/products/product01.png" alt="">
                                </div>

                                <div class="price">

                                    <div class="price-current">
                                        <span class="currency">$</span>145
                                    </div>
                                </div>
                                <div class="star-holder">
                                    <div data-score="3" class="star" style="cursor: pointer; width: 80px;"><img src="images/star-on.png" alt="1" title="bad"><img src="images/star-on.png" alt="2" title="poor"><img src="images/star-on.png" alt="3" title="regular"><img src="images/star-off.png" alt="4" title="good"><img src="images/star-off.png" alt="5" title="gorgeous"><input type="hidden" name="score" value="3"></div>
                                </div>
                                <button class="btn-compare  btn-iconic"></button>
                            </div>
                            <div class="body">
                                <h3><a href="single-product.html">consectetur adipiscing elit</a></h3>
                                <div class="excerpt">
                                    Looking lorem round, to ascertain that they...
                                </div>

                                <div class="merged-buttons">
                                    <button class="btn-add-to-cart le-btn btn-iconic ">to cart</button>  
                                    <button class="btn-add-to-wishlist le-btn btn-iconic">wishlist</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div> 
        </section>
        
        <!-- FIN -->
        
        
  
{% endblock %}
