{% extends 'AppBundle:musicstore:base.html.twig' %}

{% block body %}
    <!-- Header -->
    <div class="header">
        Lorem ipsum dolor ist amet
    </div>
    <!-- End Header -->
    
    <!-- Navigation -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="main-menu">
                    <li><a href="#page-welcome">Amplificacion</a></li>
                    <li><a href="#page-profile">Bajos</a></li>
                    <li><a href="#page-skills">Baterias</a></li>
                    <li><a href="#page-experience">Efectos</a></li>
                    <li><a href="#page-contact">Guitarras</a></li>
                    <li><a href="#page-contact">Percusion</a></li>
                    <li><a href="#page-contact">Pianos / Teclados</a></li>
                    <li><a href="#page-contact">Sonido</a></li>
                    <li><a href="#page-contact">Varios</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Navigation -->
    
    <!-- First fixed background -->
    <div class="cd-fixed-bg cd-bg-1"></div>
    <!-- Enf First fixed background -->
    
    <div>
        {% for i in 0..1000 %}
            Lorem ipsum dolor ist amet<br/>
        {% endfor %}
        
    </div>
{% endblock %}
